
.color_layer {
  display: table;
  height: 4rem;
  width: 100%;
 
}

.colors {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

}

.color {
  display: inline-block;

}

.color_box {
  width: 40px;
  height: 40px;
  background-color:yellowgreen;
  float: left;
  margin-right: 20px;
}
